.card {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 20px;
    /* border: 3px solid #ab8f71; */
    border-radius: 20px;
    box-shadow: 2px 2px 15px -5px black;
    overflow: hidden;
}

.card .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-justify: distribute;
    background-color: #ab8f71;
    width: 100%;
    font-weight: bold;
    color: white;
}

.card .content {
    padding: 10px;
}