header.head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #ab8f71;
    box-shadow: 0 0 8px black;
    margin-bottom: 10px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}